Repository TongjiPetWelfareProject/DB_PetWelfare, changes with the owners that CODEOWNERS names for each.
All owners: @llRagdoll, @RayyyyyRGB, @shiguangbiyi, @thesamechen, @tuesaime, @aodef, @DaenerysTar, @VictorHuu, @M2030123

CODEOWNERS:

doctors.vue @llRagdoll
medical.vue @llRagdoll
recoverystory.vue @llRagdoll
reservationdoctor.vue @llRagdoll
src/api/medical_donate.js @llRagdoll
src/api/gg_rqb_jk.js @llRagdoll

mypage.vue @RayyyyyRGB
src/api/userInfo.js @RayyyyyRGB @shiguangbiyi

forum.vue @thesamechen
notice.vue @thesamechen
tablecheck.vue @thesamechen
tableroom.vue @thesamechen
src/api/sh_fj_jk.js @thesamechen
src/api/notice_forum.js @shiguangbiyi @thesamechen

tablehot.vue @tuesaime @llRagdoll
mytabledoctor.vue @tuesaime
mytableemployee.vue @tuesaime
src/api/first_page.js @tuesaime

pet_foster.vue @aodef
manager.vue @aodef
src/router/index.js @aodef
src/api/pet_foster.js @aodef @shiguangbiyi
src/api/jy_ly_jk.js @aodef

pet_details.vue @DaenerysTar
pet_adopt_form.vue @DaenerysTar
src/api/pet_adopt.js @DaenerysTar @shiguangbiyi

Database/ @VictorHuu

README.md @shiguangbiyi
Login.vue @shiguangbiyi
Register.vue @shiguangbiyi
login-register.vue @shiguangbiyi
values.json @shiguangbiyi @VictorHuu
src/components/view @shiguangbiyi
src/api/user.js @shiguangbiyi

*.pdf @M2030123 @RayyyyyRGB @tuesaime @thesamechen

修改发帖界面显示
  src/components/用户界面/posting.vue
Owners: none

个人页面的宠物展示图片
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

登录错误信息详情展示
  src/util/http.js
Owners: none

统一管理员界面表格
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/petcard.vue
  src/components/管理员界面/tableadopt.vue
  src/components/管理员界面/tablecheck.vue
  src/components/管理员界面/tabledonate.vue
  src/components/管理员界面/tablefoster.vue
  src/components/管理员界面/tablemedical.vue
  src/components/管理员界面/tablenotice.vue
  src/components/管理员界面/tableroom.vue
Owners: @tuesaime, @thesamechen

注册拦截错误信息完善
  src/components/登录注册/Register.vue
Owners: @shiguangbiyi

修改密码完成
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB, @shiguangbiyi

实现管理员端搜索
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/petcard.vue
  src/components/管理员界面/tableadopt.vue
  src/components/管理员界面/tablefoster.vue
  src/components/管理员界面/tablemedical.vue
  src/components/管理员界面/tablenotice.vue
Owners: @tuesaime

手机号重复不可注册
  src/components/登录注册/Register.vue
  src/util/http.js
Owners: @shiguangbiyi

个人页面宠物图片显示全部完成
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

修改细节
  src/components/用户界面/mypage.vue
  src/components/用户界面/pet_details.vue
Owners: @RayyyyyRGB, @DaenerysTar

手机号登录实现
  src/components/登录注册/Login.vue
  src/util/http.js
Owners: @shiguangbiyi

统一管理员界面表格，对齐
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/petcard.vue
  src/components/管理员界面/tableadopt.vue
  src/components/管理员界面/tablefoster.vue
  src/components/管理员界面/tablenotice.vue
Owners: @tuesaime

修改管理房间界面
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

恢复工资栏
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

删除冗余文档
  项目设计方案/五月下旬工作计划.pdf
  项目设计方案/宠物救助中心信息管理系统需求分析12：43.docx
Owners: @M2030123, @RayyyyyRGB, @tuesaime, @thesamechen

修改了宠物主页的图片排版
  src/components/用户界面/pet_adopt.vue
Owners: none

修改图片大小
  src/components/用户界面/first_page.vue
  src/components/用户界面/pet_details.vue
  vite.config.js
Owners: @DaenerysTar

修改了管理员界面宠物列表的编辑功能，显示原图片，对空名字进行错误处理
  src/components/管理员界面/petcard.vue
Owners: none

在领养主页添加了翻页功能和名字搜索功能
  src/components/用户界面/pet_adopt.vue
Owners: none

修复了宠物详情页面性别显示的bug
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

Add files via upload
  项目设计方案/宠物救助中心信息管理系统数据库设计文档 .doc
Owners: none

删除旧的数据库设计文档
  项目设计方案/宠物救助中心信息管理系统数据库设计文档.doc
Owners: none

Revert "修改图片大小"
  src/components/用户界面/first_page.vue
  src/components/用户界面/pet_details.vue
  vite.config.js
Owners: @DaenerysTar

数据库最终版
  项目设计方案/Database/petadoption.sql
Owners: @VictorHuu

Update README.md
  项目设计方案/Database/README.md
Owners: @shiguangbiyi

修改服务历程，让服务器自动处理无效于过期的寄养数据
  项目设计方案/Database/petadoption.sql
Owners: @VictorHuu

添加注册提示信息
  src/components/登录注册/Register.vue
Owners: @shiguangbiyi

Update petadoption.sql
  项目设计方案/Database/petadoption.sql
Owners: @VictorHuu

数据库修改最终提交到doc/ (#58)
  项目设计方案/Database/README.md
  项目设计方案/Database/petadoption.sql
Owners: @shiguangbiyi, @VictorHuu

电话号码修改健壮性完善
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB, @shiguangbiyi

Update README.md
  document/README.md
Owners: @shiguangbiyi

删除在作业提交中不必要的文件
  .gitattributes
  .github/dependabot.yml
  .github/workflows/azure-webapps-node.yml
  .github/workflows/codeql.yml
  .gitignore
  .vscode/extensions.json
Owners: none

注释掉工资栏
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

增加根据房间id获取宠物id接口
  src/api/sh_fj_jk.js
Owners: @thesamechen

增加房间宠物显示
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

增加房间宠物显示
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

增加房间的宠物显示
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

可以查看占用房间的宠物
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

恢复搜索栏
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/petcard.vue
  src/components/管理员界面/tableadopt.vue
  src/components/管理员界面/tablefoster.vue
  src/components/管理员界面/tablenotice.vue
  vite.config.js
Owners: none

恢复登陆时提示信息
  src/util/http.js
Owners: none
