Repository TongjiPetWelfareProject/DB_PetWelfare, changes with the owners that CODEOWNERS names for each.
All owners: @llRagdoll, @RayyyyyRGB, @shiguangbiyi, @thesamechen, @tuesaime, @aodef, @DaenerysTar, @VictorHuu, @M2030123

CODEOWNERS:

doctors.vue @llRagdoll
medical.vue @llRagdoll
recoverystory.vue @llRagdoll
reservationdoctor.vue @llRagdoll
src/api/medical_donate.js @llRagdoll
src/api/gg_rqb_jk.js @llRagdoll

mypage.vue @RayyyyyRGB
src/api/userInfo.js @RayyyyyRGB @shiguangbiyi

forum.vue @thesamechen
notice.vue @thesamechen
tablecheck.vue @thesamechen
tableroom.vue @thesamechen
src/api/sh_fj_jk.js @thesamechen
src/api/notice_forum.js @shiguangbiyi @thesamechen

tablehot.vue @tuesaime @llRagdoll
mytabledoctor.vue @tuesaime
mytableemployee.vue @tuesaime
src/api/first_page.js @tuesaime

pet_foster.vue @aodef
manager.vue @aodef
src/router/index.js @aodef
src/api/pet_foster.js @aodef @shiguangbiyi
src/api/jy_ly_jk.js @aodef

pet_details.vue @DaenerysTar
pet_adopt_form.vue @DaenerysTar
src/api/pet_adopt.js @DaenerysTar @shiguangbiyi

Database/ @VictorHuu

README.md @shiguangbiyi
Login.vue @shiguangbiyi
Register.vue @shiguangbiyi
login-register.vue @shiguangbiyi
values.json @shiguangbiyi @VictorHuu
src/components/view @shiguangbiyi
src/api/user.js @shiguangbiyi

*.pdf @M2030123 @RayyyyyRGB @tuesaime @thesamechen

新增管理员捐款爱心大使
  src/components/管理员界面/tabledonate.vue
Owners: none

fix the target bug
  vite.config.js
Owners: none

医疗界面数据已经返回 (#46)
  src/components/管理员界面/tablemedical.vue
Owners: none

现在可以看到宠物详情界面的评论了，添加和删除功能还没好
  src/api/cw_yh_yl_jk.js
  src/components/用户界面/pet_details.vue
  src/components/管理员界面/tablemedical.vue
Owners: @DaenerysTar

对获取的宠物去重
  src/components/用户界面/pet_adopt.vue
Owners: none

添加评论功能无报错但添加不上，删除评论功能的时间传递有问题，先上传供后端测试
  src/api/cw_yh_yl_jk.js
  src/api/pet_adopt.js
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar, @shiguangbiyi

可以获取点赞收藏信息，但是按钮不变色
  src/api/pet_adopt.js
Owners: @DaenerysTar, @shiguangbiyi

宠物列表去重
  src/components/管理员界面/petcard.vue
Owners: none

医疗界面还没改完，去掉了公告界面的详情按钮，先上传，等下接着改
  src/api/cw_yh_yl_jk.js
  src/components/用户界面/notice.vue
  src/components/管理员界面/tablemedical.vue
Owners: @thesamechen

添加评论功能无报错但添加不上，删除评论功能的时间传递有问题，先上传供后端测试
  src/api/cw_yh_yl_jk.js
  src/api/pet_adopt.js
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar, @shiguangbiyi

对获取的宠物去重
  src/components/用户界面/pet_adopt.vue
Owners: none

现在可以看到宠物详情界面的评论了，添加和删除功能还没好
  src/api/cw_yh_yl_jk.js
  src/components/用户界面/pet_details.vue
  src/components/管理员界面/tablemedical.vue
Owners: @DaenerysTar

按钮颜色改好了
  src/api/cw_yh_yl_jk.js
  src/components/用户界面/pet_details.vue
  src/components/管理员界面/tablemedical.vue
Owners: @DaenerysTar

宠物详情界面可以获取点赞收藏状态，删除权限分配正确 (#50)
  src/api/cw_yh_yl_jk.js
  src/api/pet_adopt.js
  src/components/用户界面/pet_details.vue
  src/components/管理员界面/tablemedical.vue
Owners: @DaenerysTar, @shiguangbiyi

管理员界面医疗列表所有接口好了，上传供后端测试
  src/api/cw_yh_yl_jk.js
  src/components/管理员界面/tablemedical.vue
Owners: none

刚才医疗列表忘了加刷新，补上了
  src/components/管理员界面/tablemedical.vue
Owners: none

修复tablenotice.vue的分页功能
  src/api/gg_rqb_jk.js
  src/components/管理员界面/tablenotice.vue
Owners: @llRagdoll

修复引入中文包导致的build失败
  src/components/管理员界面/tablenotice.vue
Owners: none

修改了医疗列表界面接口的bug，去掉了编辑和删除功能
  src/api/cw_yh_yl_jk.js
  src/components/管理员界面/tablemedical.vue
Owners: none

添加完成个人页面的所有接口
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB, @shiguangbiyi

修改公告内容展示
  src/components/管理员界面/tablenotice.vue
Owners: none

修改公告展示页面包括分页
  src/components/管理员界面/tablenotice.vue
Owners: none

更新公告编辑界面
  src/components/管理员界面/tablenotice.vue
Owners: none

增加编辑界面原标题显示
  src/components/管理员界面/tablenotice.vue
Owners: none

更正拼写错误
  src/components/管理员界面/tablenotice.vue
Owners: none

更正拼写错误
  src/components/管理员界面/tablenotice.vue
Owners: none

修改公告传参问题
  src/components/管理员界面/tablenotice.vue
Owners: none

修改公告传参问题
  src/api/gg_rqb_jk.js
Owners: @llRagdoll

fix the bug of transmission of the values
  src/api/gg_rqb_jk.js
  src/components/管理员界面/tablenotice.vue
Owners: @llRagdoll

fix the deletion bug
  src/api/gg_rqb_jk.js
  src/components/管理员界面/tablenotice.vue
Owners: @llRagdoll

完成我的页面所有数据传输
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

完成用户点赞的帖子界面
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

个人页面编辑信息接口
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
  src/components/用户界面/post_details.vue
Owners: @RayyyyyRGB, @shiguangbiyi

忘传UID了，加上
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB, @shiguangbiyi

应该传值而不是选项
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB, @shiguangbiyi

编辑页面接口完成
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

nav图标点击提示
  src/view/用户界面/nav.vue
Owners: none

去除具体的寄养开始时间
  src/components/用户界面/pet_foster_table.vue
Owners: none

帖子上传图片接口添加
  src/api/notice_forum.js
  src/components/用户界面/posting.vue
Owners: @shiguangbiyi, @thesamechen

更新完成tableroom
  src/api/sh_fj_jk.js
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen
