Repository TongjiPetWelfareProject/DB_PetWelfare, changes with the owners that CODEOWNERS names for each.
All owners: @llRagdoll, @RayyyyyRGB, @shiguangbiyi, @thesamechen, @tuesaime, @aodef, @DaenerysTar, @VictorHuu, @M2030123

CODEOWNERS:

doctors.vue @llRagdoll
medical.vue @llRagdoll
recoverystory.vue @llRagdoll
reservationdoctor.vue @llRagdoll
src/api/medical_donate.js @llRagdoll
src/api/gg_rqb_jk.js @llRagdoll

mypage.vue @RayyyyyRGB
src/api/userInfo.js @RayyyyyRGB @shiguangbiyi

forum.vue @thesamechen
notice.vue @thesamechen
tablecheck.vue @thesamechen
tableroom.vue @thesamechen
src/api/sh_fj_jk.js @thesamechen
src/api/notice_forum.js @shiguangbiyi @thesamechen

tablehot.vue @tuesaime @llRagdoll
mytabledoctor.vue @tuesaime
mytableemployee.vue @tuesaime
src/api/first_page.js @tuesaime

pet_foster.vue @aodef
manager.vue @aodef
src/router/index.js @aodef
src/api/pet_foster.js @aodef @shiguangbiyi
src/api/jy_ly_jk.js @aodef

pet_details.vue @DaenerysTar
pet_adopt_form.vue @DaenerysTar
src/api/pet_adopt.js @DaenerysTar @shiguangbiyi

Database/ @VictorHuu

README.md @shiguangbiyi
Login.vue @shiguangbiyi
Register.vue @shiguangbiyi
login-register.vue @shiguangbiyi
values.json @shiguangbiyi @VictorHuu
src/components/view @shiguangbiyi
src/api/user.js @shiguangbiyi

*.pdf @M2030123 @RayyyyyRGB @tuesaime @thesamechen

修改主页数据显示逻辑
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

图片改用路径存储
  项目设计方案/Database/petadoption.sql
Owners: @VictorHuu

管理员员工和医生电话号码编辑优化
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

增加起始日期这个属性
  src/components/管理员界面/tablefoster.vue
Owners: none

向管理员领养界面中增加几个属性，接口也有变化
  src/components/管理员界面/tableadopt.vue
Owners: none

修改一行不足4个时的间距问题
  src/components/用户界面/pet_adopt.vue
Owners: none

Update petadoption.sql
  项目设计方案/Database/petadoption.sql
Owners: @VictorHuu

修改宠物详情界面图片路径
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

个人页面的个人收藏信息可点击进入详情页
  src/components/用户界面/mypage.vue
  src/components/用户界面/pet_adopt.vue
  src/components/用户界面/post_details.vue
Owners: @RayyyyyRGB

登录后才可评论
  src/components/用户界面/post_details.vue
Owners: none

个人页面编辑必须填完整才可提交
  src/components/用户界面/forum.vue
  src/components/用户界面/mypage.vue
Owners: @thesamechen, @RayyyyyRGB

新增捐款图片
  public/fosterbg.jpg
  public/fosterbg3.jpg
  public/home8.jpg
Owners: none

更新捐款页面图片
  src/components/用户界面/donate.vue
Owners: none

更新管理员初始界面显示
  src/view/管理员界面/manager.vue
Owners: @aodef

评论内容非空才可评论
  src/components/用户界面/mypage.vue
  src/components/用户界面/pet_details.vue
  src/components/用户界面/post_details.vue
Owners: @RayyyyyRGB, @DaenerysTar

增加我的发帖标签
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

新增获取我的帖子接口
  src/api/userInfo.js
Owners: @RayyyyyRGB, @shiguangbiyi

NOTICE:本分支谢绝直接提交，请以本分支为基提交到其他新分支
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

宠物列表编辑功能图片上传
  src/components/管理员界面/petcard.vue
Owners: none

Revert "增加起始日期这个属性"
  src/components/管理员界面/tablefoster.vue
Owners: none

Revert "修改一行不足4个时的间距问题"
  src/components/用户界面/pet_adopt.vue
Owners: none

Revert "向管理员领养界面中增加几个属性，接口也有变化"
  src/components/管理员界面/tableadopt.vue
Owners: none

修正一个变量名以跟后端匹配
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

修改了管理员宠物列表编辑接口的bug
  src/api/cw_yh_yl_jk.js
  src/components/管理员界面/petcard.vue
Owners: none

修改审核部分帖子详情的显示
  src/components/管理员界面/tablecheck.vue
Owners: @thesamechen

尝试去掉宠物列表编辑接口的json
  src/api/cw_yh_yl_jk.js
Owners: none

把宠物列表编辑接口改成formdata形式
  src/api/cw_yh_yl_jk.js
  src/components/管理员界面/petcard.vue
Owners: none

个人页面上传头像发送接口
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

可以显示抚养界面宠物了
  src/components/用户界面/pet_adopt.vue
Owners: none

宠物界面图片展示 (#60)
  src/api/cw_yh_yl_jk.js
  src/components/用户界面/pet_adopt.vue
  src/components/用户界面/pet_details.vue
  src/components/管理员界面/petcard.vue
  项目设计方案/Database/petadoption.sql
Owners: @DaenerysTar, @VictorHuu

在前端增加最多上传一张图片的限制
  src/components/管理员界面/petcard.vue
Owners: none

在前端增加最多上传一张图片的限制
  src/components/管理员界面/petcard.vue
Owners: none

修改了评论区多次点击发布按钮容易发送同一条评论的bug，修改评论的展示顺序使其按时间倒序排列
  src/api/cw_yh_yl_jk.js
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

实现排行榜
  src/components/用户界面/first_page.vue
  src/util/http.js
  vite.config.js
Owners: none

恢复为服务器IP
  src/util/http.js
Owners: none

增加用户头像存储，修改宠物头像为路径存储
  项目设计方案/Database/petadoption.sql
Owners: @VictorHuu

修改了评论区多次点击发布按钮容易发送同一条评论的bug，修改评论的展示顺序使其按时间倒序排列
  src/api/cw_yh_yl_jk.js
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

修改了宠物详情界面图片大小的问题、宠物详情界面部分健康状况无法显示的问题、领养主页宠物种类未显示的问题
  src/components/用户界面/pet_adopt.vue
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

Petimage (#61)
  src/components/用户界面/pet_adopt.vue
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

去掉nav栏上的点
  src/components/用户界面/notice.vue
Owners: @thesamechen
