Repository TongjiPetWelfareProject/DB_PetWelfare, changes with the owners that CODEOWNERS names for each.
All owners: @llRagdoll, @RayyyyyRGB, @shiguangbiyi, @thesamechen, @tuesaime, @aodef, @DaenerysTar, @VictorHuu, @M2030123

去掉nav上的几个点
  src/components/用户界面/notice.vue
Owners: @thesamechen

可以更新头像了
  src/components/用户界面/mypage.vue
  src/util/http.js
Owners: @RayyyyyRGB

用户头像 (#62)
  src/components/用户界面/mypage.vue
  src/util/http.js
Owners: @RayyyyyRGB

Revert "去除具体的寄养开始时间"
  src/components/用户界面/pet_foster_table.vue
Owners: none

增加时间满足后端需求
  src/components/用户界面/pet_foster_table.vue
Owners: none

宠物编辑和添加都有点问题，已经和后端沟通，修改的部分先上传供后端测试
  src/components/管理员界面/petcard.vue
Owners: none

登录错误提示
  src/util/http.js
Owners: none

增加论坛、公告的翻页，增加医疗预约错误提示，修改我的页面ui
  src/components/用户界面/forum.vue
  src/components/用户界面/mypage.vue
  src/components/用户界面/notice.vue
  src/components/用户界面/reservationdoctor.vue
Owners: @thesamechen, @RayyyyyRGB, @llRagdoll

修改管理员界面人气榜，增加公告错误提示
  src/components/管理员界面/tablehot.vue
  src/components/管理员界面/tablenotice.vue
Owners: @tuesaime, @llRagdoll

修改管理员界面默认路径
  src/view/管理员界面/manager.vue
Owners: @aodef

新增管理员默认路由
  src/router/index.js
Owners: @aodef

注册错误信息拦截
  src/components/登录注册/Register.vue
Owners: @shiguangbiyi

更新医疗预约错误提示
  src/components/用户界面/reservationdoctor.vue
Owners: @llRagdoll

更新寄养错误提示
  src/components/用户界面/pet_foster_table.vue
Owners: none

更新医疗预约错误提示
  src/components/用户界面/reservationdoctor.vue
Owners: @llRagdoll

更新管理员公告错误提示
  src/components/管理员界面/tablenotice.vue
Owners: none

医疗服务时间选择提示以及修改细节
  src/components/用户界面/pet_foster_table.vue
  src/components/用户界面/posting1.vue
  src/components/用户界面/reservationdoctor.vue
Owners: @llRagdoll

加宽栏目，优化UI
  src/components/管理员界面/petcard.vue
Owners: none

优化UI
  src/components/管理员界面/tableadopt.vue
  src/components/管理员界面/tablemedical.vue
  src/util/http.js
Owners: none

增加管理员员工和医生的错误提示和空提示
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

增加管理员员工和医生的刷新，错误提示和空提示
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

审核可以显示全部项目
  src/components/管理员界面/tableadopt.vue
  src/components/管理员界面/tablefoster.vue
Owners: none

Co-authored-by: tuesaime <zsy18054799790@outlook.com>
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

修复被覆盖的处理手机号的提交
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

更新了部分UI
  src/components/用户界面/donate.vue
  src/components/用户界面/first_page.vue
  src/components/用户界面/notice.vue
  src/components/用户界面/pet_adopt.vue
  vite.config.js
Owners: @thesamechen

注册手机号自动添加空格
  src/components/登录注册/Register.vue
Owners: @shiguangbiyi

帖子评论头像显示
  src/components/用户界面/post_details.vue
Owners: none

添加一些头像显示，现在默认头像还不能显示
  src/components/用户界面/post_details.vue
  src/view/用户界面/nav.vue
Owners: none

完善了领养UI
  src/components/用户界面/pet_adopt.vue
Owners: none

为邮箱等添加链接
  src/util/http.js
  src/view/用户界面/mainpage.vue
  src/view/用户界面/nav.vue
  vite.config.js
Owners: none

增加管理员领养寄养界面的筛选功能
  src/components/管理员界面/tableadopt.vue
  src/components/管理员界面/tablefoster.vue
Owners: none

增加管理员员工和医生的刷新，错误提示和空提示
  src/components/管理员界面/mytabledoctor.vue
Owners: @tuesaime

增加管理员领养寄养界面的筛选功能
  src/components/管理员界面/tableadopt.vue
  src/components/管理员界面/tablefoster.vue
Owners: none

审核部分查看帖子内容
  src/components/管理员界面/tablecheck.vue
Owners: @thesamechen

审核部分查看帖子内容
  src/components/管理员界面/tablecheck.vue
Owners: @thesamechen

显示了宠物详情界面评论区用户头像、修改了领养主页布局使每张图片高度固定，去掉了查看详情按钮，将卡片修改成一行四个，左对齐
  src/components/用户界面/pet_adopt.vue
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

不确定刚才合并是否成功，重新提交一份领养主页
  src/components/用户界面/pet_adopt.vue
Owners: none

修改帖子详情界面ui
  src/components/用户界面/post_details.vue
Owners: none

修改宠物详情界面评论区
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

更新管理员界面header
  src/view/管理员界面/manager.vue
Owners: @aodef

CODEOWNERS:

doctors.vue @llRagdoll
medical.vue @llRagdoll
recoverystory.vue @llRagdoll
reservationdoctor.vue @llRagdoll
src/api/medical_donate.js @llRagdoll
src/api/gg_rqb_jk.js @llRagdoll

mypage.vue @RayyyyyRGB
src/api/userInfo.js @RayyyyyRGB @shiguangbiyi

forum.vue @thesamechen
notice.vue @thesamechen
tablecheck.vue @thesamechen
tableroom.vue @thesamechen
src/api/sh_fj_jk.js @thesamechen
src/api/notice_forum.js @shiguangbiyi @thesamechen

tablehot.vue @tuesaime @llRagdoll
mytabledoctor.vue @tuesaime
mytableemployee.vue @tuesaime
src/api/first_page.js @tuesaime

pet_foster.vue @aodef
manager.vue @aodef
src/router/index.js @aodef
src/api/pet_foster.js @aodef @shiguangbiyi
src/api/jy_ly_jk.js @aodef

pet_details.vue @DaenerysTar
pet_adopt_form.vue @DaenerysTar
src/api/pet_adopt.js @DaenerysTar @shiguangbiyi

Database/ @VictorHuu

README.md @shiguangbiyi
Login.vue @shiguangbiyi
Register.vue @shiguangbiyi
login-register.vue @shiguangbiyi
values.json @shiguangbiyi @VictorHuu
src/components/view @shiguangbiyi
src/api/user.js @shiguangbiyi

*.pdf @M2030123 @RayyyyyRGB @tuesaime @thesamechen
