Repository TongjiPetWelfareProject/DB_PetWelfare, changes with the owners that CODEOWNERS names for each.
All owners: @llRagdoll, @RayyyyyRGB, @shiguangbiyi, @thesamechen, @tuesaime, @aodef, @DaenerysTar, @VictorHuu, @M2030123

领养申请表界面的路由改成了动态路由
  src/router/index.js
Owners: @aodef

修改了领养接口格式
  src/api/pet_adopt.js
Owners: @DaenerysTar, @shiguangbiyi

单只宠物界面连接了前后端，还在等几个接口
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

领养申请表加了动态路由
  src/components/用户界面/pet_adopt_form.vue
Owners: @DaenerysTar

修正拼写错误：abored->aborted
  src/components/管理员界面/tablecheck.vue
Owners: @thesamechen

修改了领养申请表页面，但表单仍无法提交，正在和后端交流
  src/api/pet_adopt.js
  src/components/用户界面/pet_adopt_form.vue
  src/components/用户界面/pet_details.vue
  src/router/index.js
Owners: @DaenerysTar, @shiguangbiyi, @aodef

更改我的主页的页面布局
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

上传我的页面图片
  src/photos/mypagepet.jpg
Owners: none

修复了年龄筛选11岁以上宠物不成功的问题，删去了领养申请表下方的取消按钮，改成左上角的返回领养详情按钮
  src/components/用户界面/pet_adopt.vue
  src/components/用户界面/pet_adopt_form.vue
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

更新mypage一些数据显示
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

重写userInfo.js
  src/api/userInfo.js
Owners: @RayyyyyRGB, @shiguangbiyi

完成了获取用户列表的接口，禁言解禁封号接口还没好
  src/api/yh_jk.js
  src/components/管理员界面/mytableuser.vue
Owners: none

刚才的版本未显示用户名，加上了用户名
  src/components/管理员界面/mytableuser.vue
Owners: none

论坛点击后传参给帖子详情页面
  src/components/用户界面/forum.vue
Owners: @thesamechen

帖子详情页可以接收帖子id了
  src/components/用户界面/post_details.vue
Owners: none

管理员界面显示当前人气榜
  src/components/管理员界面/tablehot.vue
Owners: @tuesaime, @llRagdoll

可以显示帖子的主体了
  src/components/用户界面/post_details.vue
Owners: none

获取单个帖子信息
  src/api/notice_forum.js
Owners: @shiguangbiyi, @thesamechen

Add files via upload
  src/photos/阿尼亚.jpg
  src/photos/默认.jpg
Owners: none

修改图片路径
  src/components/用户界面/post_details.vue
Owners: none

退出登录后返回主页
  src/view/用户界面/nav.vue
Owners: none

修复调节帖子时序
  src/components/用户界面/forum.vue
Owners: @thesamechen

添加发帖功能
  src/api/notice_forum.js
Owners: @shiguangbiyi, @thesamechen

添加发帖功能
  src/components/用户界面/posting.vue
Owners: none

Delete 宠物救助中心信息管理系统需求分析文档.doc
  项目设计方案/宠物救助中心信息管理系统需求分析文档.doc
Owners: none

设计与实现文档还差用例实现的界面截图
  项目设计方案/宠物救助中心信息管理系统设计与实现文档.doc
  项目设计方案/宠物救助中心信息管理系统需求分析文档.doc
Owners: none

修改了宠物详情界面的评论区、帖子详情界面的点赞收藏按钮和评论区
  src/components/用户界面/pet_details.vue
  src/components/用户界面/post_details.vue
Owners: @DaenerysTar

补充了宠物详情页面的接口和管理员用户列表的接口，但页面还没完全实现
  src/api/pet_adopt.js
  src/api/yh_jk.js
Owners: @DaenerysTar, @shiguangbiyi

恢复被盖的import，调整图标大小
  src/components/用户界面/post_details.vue
Owners: none

未登录不可医疗预约
  src/components/用户界面/doctors.vue
Owners: @llRagdoll

更新与后端连接错误提示
  src/util/http.js
Owners: none

更新医疗预约表，预约成功后跳转路由
  src/components/用户界面/reservationdoctor.vue
Owners: @llRagdoll

显示点赞数，删除帖子收藏功能前端显示
  src/components/用户界面/post_details.vue
Owners: none

显示评论数
  src/components/用户界面/post_details.vue
Owners: none

可以显示帖子的评论了
  src/api/notice_forum.js
  src/components/用户界面/post_details.vue
Owners: @shiguangbiyi, @thesamechen

修复显示灰圈圈的bug
  src/components/用户界面/post_details.vue
Owners: none

修复了表单项未输入bool值的问题，但似乎一个人只能提交一次，先上传供后端测试
  src/components/用户界面/pet_adopt_form.vue
Owners: @DaenerysTar

帖子评论功能实现
  src/api/notice_forum.js
  src/components/用户界面/post_details.vue
Owners: @shiguangbiyi, @thesamechen

点赞功能实现
  src/api/notice_forum.js
  src/components/用户界面/post_details.vue
Owners: @shiguangbiyi, @thesamechen

帖子评论按照从晚到早排序
  src/components/用户界面/post_details.vue
Owners: none

CODEOWNERS:

doctors.vue @llRagdoll
medical.vue @llRagdoll
recoverystory.vue @llRagdoll
reservationdoctor.vue @llRagdoll
src/api/medical_donate.js @llRagdoll
src/api/gg_rqb_jk.js @llRagdoll

mypage.vue @RayyyyyRGB
src/api/userInfo.js @RayyyyyRGB @shiguangbiyi

forum.vue @thesamechen
notice.vue @thesamechen
tablecheck.vue @thesamechen
tableroom.vue @thesamechen
src/api/sh_fj_jk.js @thesamechen
src/api/notice_forum.js @shiguangbiyi @thesamechen

tablehot.vue @tuesaime @llRagdoll
mytabledoctor.vue @tuesaime
mytableemployee.vue @tuesaime
src/api/first_page.js @tuesaime

pet_foster.vue @aodef
manager.vue @aodef
src/router/index.js @aodef
src/api/pet_foster.js @aodef @shiguangbiyi
src/api/jy_ly_jk.js @aodef

pet_details.vue @DaenerysTar
pet_adopt_form.vue @DaenerysTar
src/api/pet_adopt.js @DaenerysTar @shiguangbiyi

Database/ @VictorHuu

README.md @shiguangbiyi
Login.vue @shiguangbiyi
Register.vue @shiguangbiyi
login-register.vue @shiguangbiyi
values.json @shiguangbiyi @VictorHuu
src/components/view @shiguangbiyi
src/api/user.js @shiguangbiyi

*.pdf @M2030123 @RayyyyyRGB @tuesaime @thesamechen
