Repository TongjiPetWelfareProject/DB_PetWelfare, changes with the owners that CODEOWNERS names for each.
All owners: @llRagdoll, @RayyyyyRGB, @shiguangbiyi, @thesamechen, @tuesaime, @aodef, @DaenerysTar, @VictorHuu, @M2030123

UI上实现删除键的布置
  src/components/用户界面/post_details.vue
Owners: none

修复看不到别人评论时间的bug
  src/components/用户界面/post_details.vue
Owners: none

改正aborted和legitmate写反，请求中变量添加宠物名以及用户名
  src/components/管理员界面/tableadopt.vue
Owners: none

完成帖子评论删除功能
  src/api/notice_forum.js
  src/components/用户界面/post_details.vue
Owners: @shiguangbiyi, @thesamechen

删除帖子功能UI布置完成
  src/components/用户界面/post_details.vue
Owners: none

修复管理员删不了评论的bug
  src/components/用户界面/post_details.vue
Owners: none

完成帖子删除功能
  src/api/notice_forum.js
  src/components/用户界面/post_details.vue
Owners: @shiguangbiyi, @thesamechen

帖子删除功能
  src/components/用户界面/post_details.vue
Owners: none

管理员给出帖子审核结果后更新表数据
  src/components/用户界面/post_details.vue
  src/components/管理员界面/tablecheck.vue
Owners: @thesamechen

添加了管理员页面的宠物列表展示接口、医疗列表展示接口（这个后端没有数据）,但所有按钮的接口还没写好；仿照帖子评论区修改了宠物详情页面评论区，还未进行接口测试
  src/api/cw_yh_yl_jk.js
  src/api/pet_adopt.js
  src/components/用户界面/pet_details.vue
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/petcard.vue
  src/components/管理员界面/tablemedical.vue
Owners: @DaenerysTar, @shiguangbiyi

修改新雇员工接口地址
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

更新管理员员工和医生
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

更新编辑逻辑
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

获取用户阅读量和点赞量信息
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB, @shiguangbiyi

个人页面帖子模块“我的评论”完成
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB, @shiguangbiyi

员工ID编辑时只读，添加时去除
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

完成个人页面捐款记录
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB, @shiguangbiyi

完成个人页面医疗记录
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB, @shiguangbiyi

修改了宠物领养详情界面的接口名称，并显示了宠物的年龄
  src/api/pet_adopt.js
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar, @shiguangbiyi

更新添加细节
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

管理员界面宠物列表接口基本写好了，还有一些细节要处理，先上传供后端查看
  src/api/cw_yh_yl_jk.js
  src/api/pet_adopt.js
  src/components/用户界面/pet_details.vue
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/petcard.vue
  src/components/管理员界面/petcardnew.vue
Owners: @DaenerysTar, @shiguangbiyi

上传图片
  public/返回2.png
Owners: none

增加发帖界面返回功能
  src/components/用户界面/posting.vue
Owners: none

宠物详情界面回退到上一版本，解决了管理员用户列表按钮的问题，未解决415错误
  src/api/cw_yh_yl_jk.js
  src/components/用户界面/pet_adopt.vue
  src/components/用户界面/pet_details.vue
  src/components/管理员界面/mytableuser.vue
Owners: @DaenerysTar

更新美化我的界面ui
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

fix the issue:set the header to application/json&jsonify the single string
  src/api/cw_yh_yl_jk.js
Owners: none

职责可选择，编辑优化
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

管理员用户列表界面冲突
  src/api/cw_yh_yl_jk.js
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/petcard.vue
Owners: none

Conflict resolved
  src/api/cw_yh_yl_jk.js
Owners: none

管理员用户列表界面冲突 (#44)
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/petcard.vue
Owners: none

修改了管理员页面用户列表禁言和解封的逻辑问题，现在还剩下的问题是解除禁言的时候会连封号一起解除，这个需要后端解决
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/tablemedical.vue
Owners: none

管理员界面宠物列表的添加编辑删除功能半完成，先上传供后端测试
  src/api/cw_yh_yl_jk.js
  src/components/管理员界面/petcard.vue
Owners: none

增加数据更新后的前端的刷新
  src/components/管理员界面/tableadopt.vue
Owners: none

更新同意拒绝写反，增加宠物名和用户名属性，并在数据发生变化时自动更新
  src/components/管理员界面/tablefoster.vue
Owners: none

修正管理员端删除宠物的bug
  src/api/cw_yh_yl_jk.js
Owners: none

Just for the test of transmission of the medical records
  src/components/管理员界面/tablemedical.vue
Owners: none

the tag(申请/预约) has returned
  src/components/管理员界面/tablemedical.vue
  vite.config.js
Owners: none

为了获取新的前端内容
  src/api/pet_adopt.js
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar, @shiguangbiyi

上传图片
  public/爱心.png
Owners: none

新增捐款爱心大使，更新医疗界面
  src/components/用户界面/doctors.vue
  src/components/用户界面/donate.vue
  src/components/用户界面/recoverystory.vue
Owners: @llRagdoll

CODEOWNERS:

doctors.vue @llRagdoll
medical.vue @llRagdoll
recoverystory.vue @llRagdoll
reservationdoctor.vue @llRagdoll
src/api/medical_donate.js @llRagdoll
src/api/gg_rqb_jk.js @llRagdoll

mypage.vue @RayyyyyRGB
src/api/userInfo.js @RayyyyyRGB @shiguangbiyi

forum.vue @thesamechen
notice.vue @thesamechen
tablecheck.vue @thesamechen
tableroom.vue @thesamechen
src/api/sh_fj_jk.js @thesamechen
src/api/notice_forum.js @shiguangbiyi @thesamechen

tablehot.vue @tuesaime @llRagdoll
mytabledoctor.vue @tuesaime
mytableemployee.vue @tuesaime
src/api/first_page.js @tuesaime

pet_foster.vue @aodef
manager.vue @aodef
src/router/index.js @aodef
src/api/pet_foster.js @aodef @shiguangbiyi
src/api/jy_ly_jk.js @aodef

pet_details.vue @DaenerysTar
pet_adopt_form.vue @DaenerysTar
src/api/pet_adopt.js @DaenerysTar @shiguangbiyi

Database/ @VictorHuu

README.md @shiguangbiyi
Login.vue @shiguangbiyi
Register.vue @shiguangbiyi
login-register.vue @shiguangbiyi
values.json @shiguangbiyi @VictorHuu
src/components/view @shiguangbiyi
src/api/user.js @shiguangbiyi

*.pdf @M2030123 @RayyyyyRGB @tuesaime @thesamechen
