Repository TongjiPetWelfareProject/DB_PetWelfare, changes with the owners that CODEOWNERS names for each.
All owners: @llRagdoll, @RayyyyyRGB, @shiguangbiyi, @thesamechen, @tuesaime, @aodef, @DaenerysTar, @VictorHuu, @M2030123

个人页面编辑后刷新，还需要完善
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

向后端发送头像接口
  src/api/userInfo.js
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB, @shiguangbiyi

Create LICENSE
  LICENSE
Owners: none

更新我的界面排版问题
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

实现编辑后实时更新表格
  src/components/管理员界面/tablenotice.vue
Owners: none

Revert "帖子上传图片接口添加"
  src/api/notice_forum.js
  src/components/用户界面/posting.vue
Owners: @shiguangbiyi, @thesamechen

调整端口
  src/util/http.js
  vite.config.js
Owners: none

Update README.md
  README.md
Owners: @shiguangbiyi

实现未登录或普通用户身份无法进入管理员界面的屏障
  src/router/index.js
Owners: @aodef

实现未登录或普通用户身份无法进入管理员界面的屏障 (#56)
  src/router/index.js
Owners: @aodef

修复部分图片无法显示的情况
  src/components/用户界面/doctors.vue
  src/components/用户界面/donate.vue
Owners: @llRagdoll

opps!conflict is not resolved by simply overwriting @shiguangbiyi
  src/router/index.js
Owners: @aodef

使公告能够分段显示
  src/components/用户界面/notice.vue
Owners: @thesamechen

使管理员公告能够分段显示
  src/components/管理员界面/tablenotice.vue
Owners: none

添加了宠物详情界面和帖子界面用户未登录时点赞收藏评论的处理
  src/components/用户界面/pet_details.vue
  src/components/用户界面/post_details.vue
Owners: @DaenerysTar

改了一下提示文字内容：“密码长度在8-14”
  src/components/登录注册/Register.vue
Owners: @shiguangbiyi

完善审核部分的帖子内容显示
  src/components/管理员界面/tablecheck.vue
Owners: @thesamechen

添加翻页
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

添加翻页
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

改了一下提示文字内容：“密码长度在8-14”
  src/components/登录注册/Register.vue
Owners: @shiguangbiyi

完善审核部分的帖子内容显示
  src/components/管理员界面/tablecheck.vue
Owners: @thesamechen

防止上传压缩文件
  .gitignore
Owners: none

调整表格宽度
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

调整表格宽度
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @tuesaime

添加翻页
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

修复了不能发帖的bug
  src/components/用户界面/post_details.vue
Owners: none

添加翻页
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

向管理员领养界面中增加几个属性，接口也有变化
  src/components/管理员界面/tableadopt.vue
Owners: none

修改一行不足4个时的间距问题
  src/components/用户界面/pet_adopt.vue
Owners: none

增加起始日期这个属性
  src/components/管理员界面/tablefoster.vue
Owners: none

Update petadoption.sql
  项目设计方案/Database/petadoption.sql
Owners: @VictorHuu

显示forum图片
  src/components/用户界面/post_details.vue
  src/components/用户界面/posting.vue
Owners: none

帖子上传图片接口添加
  src/api/notice_forum.js
  src/components/用户界面/posting.vue
Owners: @shiguangbiyi, @thesamechen

显示forum图片
  src/components/用户界面/post_details.vue
  src/components/用户界面/posting.vue
Owners: none

Revert "完善审核部分的帖子内容显示"
  src/components/管理员界面/tablecheck.vue
Owners: @thesamechen

Revert "添加翻页"
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

Revert "添加翻页"
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

修改主页数据显示逻辑
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

个人页面逻辑完善
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

个人页面逻辑完善
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

CODEOWNERS:

doctors.vue @llRagdoll
medical.vue @llRagdoll
recoverystory.vue @llRagdoll
reservationdoctor.vue @llRagdoll
src/api/medical_donate.js @llRagdoll
src/api/gg_rqb_jk.js @llRagdoll

mypage.vue @RayyyyyRGB
src/api/userInfo.js @RayyyyyRGB @shiguangbiyi

forum.vue @thesamechen
notice.vue @thesamechen
tablecheck.vue @thesamechen
tableroom.vue @thesamechen
src/api/sh_fj_jk.js @thesamechen
src/api/notice_forum.js @shiguangbiyi @thesamechen

tablehot.vue @tuesaime @llRagdoll
mytabledoctor.vue @tuesaime
mytableemployee.vue @tuesaime
src/api/first_page.js @tuesaime

pet_foster.vue @aodef
manager.vue @aodef
src/router/index.js @aodef
src/api/pet_foster.js @aodef @shiguangbiyi
src/api/jy_ly_jk.js @aodef

pet_details.vue @DaenerysTar
pet_adopt_form.vue @DaenerysTar
src/api/pet_adopt.js @DaenerysTar @shiguangbiyi

Database/ @VictorHuu

README.md @shiguangbiyi
Login.vue @shiguangbiyi
Register.vue @shiguangbiyi
login-register.vue @shiguangbiyi
values.json @shiguangbiyi @VictorHuu
src/components/view @shiguangbiyi
src/api/user.js @shiguangbiyi

*.pdf @M2030123 @RayyyyyRGB @tuesaime @thesamechen
