Repository TongjiPetWelfareProject/DB_PetWelfare, changes with the owners that CODEOWNERS names for each.
All owners: @llRagdoll, @RayyyyyRGB, @shiguangbiyi, @thesamechen, @tuesaime, @aodef, @DaenerysTar, @VictorHuu, @M2030123

恢复登陆时提示信息
  src/util/http.js
Owners: none

恢复搜索栏
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/petcard.vue
  src/components/管理员界面/tableadopt.vue
  src/components/管理员界面/tablefoster.vue
  src/components/管理员界面/tablenotice.vue
  vite.config.js
Owners: none

修改前端ui细节
  src/components/用户界面/doctors.vue
  src/components/用户界面/donate.vue
  src/components/用户界面/first_page.vue
  src/components/用户界面/forum.vue
  src/components/用户界面/mypage.vue
  src/components/用户界面/notice.vue
  src/components/用户界面/pet_adopt.vue
  src/components/用户界面/pet_details.vue
  src/components/用户界面/pet_foster.vue
  src/components/用户界面/pet_foster_table.vue
  src/components/用户界面/post_details.vue
Owners: @llRagdoll, @thesamechen, @RayyyyyRGB, @DaenerysTar, @aodef

更新需求分析文档
  项目设计方案/宠物救助中心信息管理系统需求分析文档.doc
Owners: none

更新需求分析文档
  document/宠物救助中心信息管理系统需求分析文档.doc
Owners: none

copy
  program/.gitattributes
  program/.gitignore
  program/.vscode/extensions.json
  program/src/api/sh_fj_jk.js
  program/src/components/用户界面/doctors.vue
  program/src/components/用户界面/donate.vue
  program/src/components/用户界面/first_page.vue
  program/src/components/用户界面/forum.vue
  program/src/components/用户界面/mypage.vue
  program/src/components/用户界面/notice.vue
  program/src/components/用户界面/pet_adopt.vue
  program/src/components/用户界面/pet_details.vue
  program/src/components/用户界面/pet_foster.vue
  program/src/components/用户界面/pet_foster_table.vue
  program/src/components/用户界面/post_details.vue
  program/src/components/管理员界面/mytabledoctor.vue
  program/src/components/管理员界面/mytableemployee.vue
  program/src/components/管理员界面/mytableuser.vue
  program/src/components/管理员界面/petcard.vue
  program/src/components/管理员界面/tableadopt.vue
  program/src/components/管理员界面/tablefoster.vue
  program/src/components/管理员界面/tablenotice.vue
  program/src/components/管理员界面/tableroom.vue
  program/src/util/http.js
  program/vite.config.js
Owners: @llRagdoll, @thesamechen, @RayyyyyRGB, @DaenerysTar, @aodef, @tuesaime

恢复验证手机号
  program/README
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

Delete program directory
  program/README
Owners: none

替换有问题的页面
  src/components/用户界面/pet_adopt.vue
Owners: none

JWT尝试，尚未成功，不要merge（猜测由于部分请求不经过http.js的配置，故header不生效）
  src/api/user.js
  src/store/user.js
  src/util/http.js
Owners: @shiguangbiyi

上传图片
  public/ambulance.png
Owners: none

优化ui细节
  src/view/用户界面/nav.vue
Owners: none

优化ui细节
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/petcard.vue
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

优化用户界面ui细节
  src/components/用户界面/doctors.vue
  src/components/用户界面/forum.vue
  src/components/用户界面/notice.vue
  src/components/用户界面/pet_adopt.vue
  src/components/用户界面/pet_adopt_form.vue
  src/components/用户界面/pet_foster.vue
  src/components/用户界面/recoverystory.vue
Owners: @llRagdoll, @thesamechen, @DaenerysTar, @aodef

更新优化用户界面ui
  src/components/用户界面/recoverystory.vue
Owners: @llRagdoll

优化管理员房间细节
  src/components/管理员界面/tableroom.vue
Owners: @thesamechen

修改宠物界面图片适应
  src/components/用户界面/pet_details.vue
Owners: @DaenerysTar

增加错误信息的返回弹窗
  src/components/管理员界面/tablefoster.vue
Owners: none

增加错误返回的弹窗
  src/components/管理员界面/tableadopt.vue
Owners: none

增加错误返回的弹窗显示
  src/components/管理员界面/tablefoster.vue
Owners: none

更正无法审核的问题
  src/components/管理员界面/tableadopt.vue
Owners: none

领养申请提交后跳转到主页
  src/components/用户界面/pet_adopt_form.vue
Owners: @DaenerysTar

更改无法审核的问题
  src/components/管理员界面/tablefoster.vue
Owners: none

正则表达式修改
  src/components/用户界面/mypage.vue
Owners: @RayyyyyRGB

错误信息提示
  src/components/用户界面/reservationdoctor.vue
Owners: @llRagdoll

管理员界面错误信息提示
  src/components/用户界面/reservationdoctor.vue
  src/components/管理员界面/mytabledoctor.vue
  src/components/管理员界面/mytableemployee.vue
Owners: @llRagdoll, @tuesaime

医疗界面错误信息提示
  src/components/用户界面/reservationdoctor.vue
  src/components/管理员界面/tablemedical.vue
Owners: @llRagdoll

错误信息提示完成
  src/components/管理员界面/mytableuser.vue
  src/components/管理员界面/tableadopt.vue
  src/components/管理员界面/tablecheck.vue
  src/components/管理员界面/tablefoster.vue
  src/util/http.js
Owners: @thesamechen

错误信息提示进一步修改 #54
  src/components/管理员界面/mytableemployee.vue
  src/util/http.js
Owners: @tuesaime

最终提交
  program/package-lock.json
  program/package.json
  program/public/ambulance.png
  program/src/components/用户界面/doctors.vue
  program/src/components/用户界面/forum.vue
  program/src/components/用户界面/mypage.vue
  program/src/components/用户界面/notice.vue
  program/src/components/用户界面/pet_adopt.vue
  program/src/components/用户界面/pet_adopt_form.vue
  program/src/components/用户界面/pet_details.vue
  program/src/components/用户界面/pet_foster.vue
  program/src/components/用户界面/recoverystory.vue
  program/src/components/管理员界面/mytableuser.vue
  program/src/components/管理员界面/petcard.vue
  program/src/components/管理员界面/tableadopt.vue
  program/src/components/管理员界面/tablefoster.vue
  program/src/components/管理员界面/tableroom.vue
  program/src/view/用户界面/nav.vue
Owners: @llRagdoll, @thesamechen, @RayyyyyRGB, @DaenerysTar, @aodef

Create README.md
  README.md
Owners: @shiguangbiyi

Update README.md
  README.md
Owners: @shiguangbiyi

CODEOWNERS:

doctors.vue @llRagdoll
medical.vue @llRagdoll
recoverystory.vue @llRagdoll
reservationdoctor.vue @llRagdoll
src/api/medical_donate.js @llRagdoll
src/api/gg_rqb_jk.js @llRagdoll

mypage.vue @RayyyyyRGB
src/api/userInfo.js @RayyyyyRGB @shiguangbiyi

forum.vue @thesamechen
notice.vue @thesamechen
tablecheck.vue @thesamechen
tableroom.vue @thesamechen
src/api/sh_fj_jk.js @thesamechen
src/api/notice_forum.js @shiguangbiyi @thesamechen

tablehot.vue @tuesaime @llRagdoll
mytabledoctor.vue @tuesaime
mytableemployee.vue @tuesaime
src/api/first_page.js @tuesaime

pet_foster.vue @aodef
manager.vue @aodef
src/router/index.js @aodef
src/api/pet_foster.js @aodef @shiguangbiyi
src/api/jy_ly_jk.js @aodef

pet_details.vue @DaenerysTar
pet_adopt_form.vue @DaenerysTar
src/api/pet_adopt.js @DaenerysTar @shiguangbiyi

Database/ @VictorHuu

README.md @shiguangbiyi
Login.vue @shiguangbiyi
Register.vue @shiguangbiyi
login-register.vue @shiguangbiyi
values.json @shiguangbiyi @VictorHuu
src/components/view @shiguangbiyi
src/api/user.js @shiguangbiyi

*.pdf @M2030123 @RayyyyyRGB @tuesaime @thesamechen
